*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::root{
	--box-color1: hsl(31, 77%, 52%);
	--box-color2: hsl(184, 100%, 22%);
	--box-color3: hsl(179, 100%, 13%);

	--paragraph-color: hsla(0, 0%, 100%, 0.75);
	--neutral-color: hsl(0, 0%, 95%);

	--font-family1:'Lexend Deca', sans-serif;
	--font-family2:'Big Shoulders Display', cursive;
	--fw-normal: 400;
	--fw-bolder:700;
}

body{
	font-size: 15px;
	font-family: var(--font-family1);
}


.container{
	display: flex;
	align-items: center;
	justify-content: center;
}